DATABASE_URI=database_uri
PAYLOAD_SECRET=secret
NEXT_PUBLIC_MOVIE_DB_API=move_db_api_key
SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

SPOTIFY_CLIENT_ID=your_spotify_client_id
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret

S3_BUCKET=string
S3_ACCESS_KEY_ID=string
S3_SECRET_ACCESS_KEY=string
S3_REGION=string
S3_ENDPOINT=string